body{
    background-color: rgba(128, 145, 145, 0.815);
}

h1{
    text-align: center;
    
}

#navbar{
    background-color: red;
}



.btn{
    color: antiquewhite;
}

.card1{
    margin-left: 30px;
}  

.card1{
    width: 300px;
    height: 200px;
 }
 
 .card1 img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .card1:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
 }

 .card2{
    width: 300px;
    height: 200px;
    
 }
 
 .card2 img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .card2:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
 }

 .card3{
    width: 300px;
    height: 200px;
    
 }
 
 .card3 img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .card3:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
 }

