card{
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 800px;
    margin-top: 95px;
    animation: example 1.5s infinite ease-in-out;
    margin-left: 60px;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid rgb(177, 177, 207);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.front{
    background-color: #020202;
    color: white;
}

.back{
    background-color: rgb(212, 212, 212);
    transform: rotateY(-180deg);
}

.card:hover  .front{
    transform: rotateY(-180deg);
}

.card:hover .back{
    transform: rotateY(0);
}

.card2{
    width: 200px;
    height: 300px;
    margin-left: 380px;
    perspective: 800px;
    animation: example 1.5s infinite ease-in-out;
    margin-top: -300px;
}

.front2, .back2{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid rgb(177, 177, 207);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.front2{
    background-color: #020202;
    color: white;
}

.back2{
    background-color: rgb(212, 212, 212);
    transform: rotateY(-180deg);
}

.card2:hover  .front2{
    transform: rotateY(-180deg);
}

.card2:hover .back2{
    transform: rotateY(0);
}

@keyframes example {
    50%{
        transform: translateY(-10%);
    }
}

.card3{
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 800px;
    
    animation: example 1.5s infinite ease-in-out;
    margin-top: -300px;
    margin-left: 700px;
    
}

.front3, .back3{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid rgb(177, 177, 207);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.front3{
    background-color: #020202;
    color: white;
}

.back3{
    background-color: rgb(212, 212, 212);
    transform: rotateY(-180deg);
}

.card3:hover  .front3{
    transform: rotateY(-180deg);
}

.card3:hover .back3{
    transform: rotateY(0);
}

.card4{
    width: 50px;
    height: 50px;
    position: relative;
    perspective: 800px;
    
    animation: example 1.5s infinite ease-in-out;
    margin-top: -300px;
    margin-left: 1000px;
    
}

.front4, .back4{
    width: 50%;
    height: 50%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid rgb(177, 177, 207);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.front4{
    background-color: #020202;
    color: white;
}

.back4{
    background-color: rgb(212, 212, 212);
    transform: rotateY(-180deg);
}

.card4:hover  .front4{
    transform: rotateY(-180deg);
}

.card4:hover .back4{
    transform: rotateY(0);
}
footer {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to right, gray , black);
    color: #FFF;
    width: 100%;
    height: 150px;    
    text-align: center;
    line-height: 100px;
}

h5{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

body{
    background-color: rgba(80, 77, 77, 0.493);
}